<section id="faq">
  <div class="row section-intro">
      <div class="col-twelve with-bottom-line">
          <h1>Frequently</h1>
          <h1>Asked Questions</h1>
          <p class="lead"></p>
      </div>
  </div>
  <div class="container">
      <div class="for-flex-new-row faq-content">
          <div class="col-md-6">
              <div class="bgrid">
                  <h3>How is BeTrip different from other navigators and other sights searching applications?</h3>
                  <p>BeTrip is both. We build a route using social sites, what automatically means that we ask people's opinion about the places. We consider date, mood, comments number of each post and many more parameters including your own preferences.</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bgrid">
                      <h3>If you analyze social sites don't you think that a lot of people can like also bad picture e.g. road pit?</h3>
                      <p>We have complex system of estimation which includes many parameters. That is one of the reasons we estimate the beauty of a picture and the mood of comments. </p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bgrid">
                  <h3>How can I know how many days from my subscription left?</h3>
                  <p>You can find it in your profile which is located in the main menu. There you can also renew your account by pressing "Pay" button.</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bgrid">
                  <h3>Am I able to print my route and take it as helper with me?</h3>
                  <p>Yes, after building all possible routes application will give you possibility to navigate throught one of them or print them.</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bgrid">
                      <h3>Which devices can I use? </h3>
                      <p>We have applications for IOS(6 and above) and Android(4.0 and up). You can also use BeTrip's web version. You can log in to BeTrip from as many of your devices as you like — all at the same time. Just use your account to log in everywhere.</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bgrid">
                  <h3>In which country can I use your app?</h3>
                  <p>You can use our app everywhere. If there are posts on Facebook, Twitter, Instagram etc. we will find for you an interesting route.</p>
              </div>
          </div>
      </div>
      <!-- /faq-content -->
  </div>
</section>