<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../assets/img/Logo.png" class="max-w img-responsive" alt="">
                <p>Russian Federation Tatarstan Republic, Innopolis Universitetskaya street 1, 420500 social@betrip.io</p>
            </div>
            <div class="col-md-2">
                <p class="head-tt">Site Links</p>
                <ul>
                    <li><a routerLinkActive="active" routerLink="/build">Build</a></li>
                    <li> <a routerLinkActive="active" routerLink="/best">Best</a></li>
                    <li><a routerLinkActive="active" routerLink="/trips">Trips</a></li>
                   
                </ul>
            </div>
            <div class="col-md-2">
                <p class="head-tt">Social</p>
                <ul>
                    <li><a href="https://twitter.com/BeTrip_io">Twitter</a></li>
                    <li><a href="https://www.facebook.com/betrip.io/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/betrip.io/">Instagram</a></li>
                    <li><a href="https://vk.com/club155807523">Vk</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="head-tt">Subscribe</p>
                <p>Keep yourself updated. Subscribe to our newsletter.</p>
                <form id="mc-form" class="group" novalidate="true" (ngSubmit)="SubscribeEmail(submitFormSubscribe)" #submitFormSubscribe="ngForm">
                    <input type="text" email value="" #email="ngModel" name="email" class="email" placeholder="type email &amp; hit enter" required=""> 
                    <button type="submit" name="subscribe" ></button>
                    <label for="mc-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="for-center">© Copyright BeTrip 2017</p>
            </div>
        </div>
    </div>
</footer>