<section id="func">
  <section id="features">
      <div class="row section-intro">
          <div class="col-twelve with-bottom-line">
              <h5>Our secrets</h5>
              <h1>How it works?</h1> </div>
      </div>
      <div class="row process-content">
          <div class="left-side">
              <div class="item" data-item="1">
                  <h5>Build</h5>
                  <p>After you select your starting point and your destination we find the shortest route using real time information in order to make sure you reach your destination without unnecessary delay.</p>
              </div>
              <div class="item" data-item="2">
                  <h5>Search</h5>
                  <p>Then we analyse the posts on various social sites that are located close to your optimal route including Instagram, twitter etc. On top of that we include real time information including season, weather and the time of day.</p>
              </div>
          </div>
          <!-- /left-side -->
          <div class="right-side">
              <div class="item" data-item="3">
                  <h5>Analyze</h5>
                  <p>Then through our algorithm we rate every post. For example the beauty of pictures, the mood of comments, the number of likes and the ratings on social sights. Like that we can analyse the popularity and nature of a location. </p>
              </div>
              <div class="item" data-item="4">
                  <h5>Create</h5>
                  <p>According to our rating and your personal preferences and taste we build your personal route: A route that doesn’t only bring you quickly to your destination, but that also makes sure you miss nothing on the way.</p>
              </div>
          </div>
          <!-- /right-side -->
          <div class="image-part"></div>
      </div>
      <!-- /process-content -->
  </section>
  <section id="features">
      <div class="row section-intro">
          <div class="col-twelve with-bottom-line">
              <h5>Features</h5>
              <h1>Great features you'll love</h1>
              <p class="lead"></p>
          </div>
      </div>
      <div class="container">
          <div class="for-flex-new-row">
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-window"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Set your own preferences</h3>
                          <p>Each user has his own profile where the most prefered to see places can be chosen. It can be architecture, nature, museums, churches, views etc. Depending on the user's preference different routes will have highest priority throught the whole possible. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-eye"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Select the route you like</h3>
                          <p>After departure and destination are chosen and button "Build" is pressed application will provide several different options of routes. Each route has different number of places, distance and time. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-paint-brush"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Change your route as you want</h3>
                          <p>Chosen route can be changed by user. Every place in route can be deleted and information about the route will be automatically updated. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-file"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Get info about the places</h3>
                          <p>Each place has its own description, name, address, recommendation of visit time and rating that was given by the other users of the application. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-layers"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Give &amp; Get recommendations</h3>
                          <p>Application has its own rating system and each user can be a part of it. After visiting a place user will be able to rate it. Also user can mark chosen route after the trip. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
              <div class="col-md-4 features-list">
                  <div class="bgrid feature"> <span class="icon"><i class="icon-gift"></i></span>
                      <div class="service-content">
                          <h3 class="h05">Share your routes</h3>
                          <p>All user's routes are stored in their profiles where they can be rated and shared. Social links can be entered in user's profile. </p>
                      </div>
                  </div>
                  <!-- /bgrid -->
              </div>
          </div>
          <!-- features-content -->
      </div>
  </section>
</section>
<app-footer></app-footer>