<section id="cta">
  <div class="row cta-content">
      <div class="col-twelve">
          <h1 class="h01">Get started now. Try Alpha version of BeTrip.</h1>
          <p class="lead">Download the app now. Available on the:</p>
          <ul class="stores">
              <li class="play-store">
                  <a href="https://play.google.com/apps/testing/io.betrip.android" class="button round large" title=""> <i class="icon ion-social-android"></i>Play Store</a>
              </li>
          </ul>
      </div>
  </div>
  <!-- /cta-content -->
</section>
<section id="testimonials">
  <div class="row flex-container">
      <h3>Turn every trip into a journey</h3>
      <br />
      <div>
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-1.png">
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-6.png">
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-3.png">
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-5.png">
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-4.png">
          <img width="216" height="384" src="../assets/img/screenshots/screenshot-2.png">
      </div>
  </div>
  <!-- /flex-container -->
 
</section>
<app-footer></app-footer>
<!-- /testimonials -->
