<div class="best-wr">
  <div class="left-side">
      <div class="padd-my-tabs">
          <div class="my-tabs">
              <div class="my-tab active">Past </div>
              <div class="my-tab">Upcoming</div>
          </div>
      </div>
      <div class="all-best-blocks">
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <div class="ava" style="background-image: url(img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name">Milan - Paris</p>
                      <p class="desc"><strong>Distance </strong>1345 km</p>
                      <p class="desc"><strong>Time </strong>13h 45min</p>
                      <div class="button-wr">

                          <div class="one">
                              <div class="bg">
                                  <img src="img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <div class="ava" style="background-image: url(img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name">Milan - Paris</p>
                      <p class="desc"><strong>Distance </strong>1345 km</p>
                      <p class="desc"><strong>Time </strong>13h 45min</p>
                      <div class="button-wr">

                          <div class="one">
                              <div class="bg">
                                  <img src="img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
  <div class="fixed-map">
     
      
      <!--Сюда карту-->
      
      <agm-map [latitude]="lat" [longitude]="lng" style="height: 100%;">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      
      
      
      <div class="fixed-sights">
          <div class="flex-sights">
              
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>1</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>2</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>3</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>4</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>5</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>6</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>7</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(img/post_326.jpg)"></div>
                  </div>
                  <p><span>8</span>Holywood</p>
              </div>
          </div>
      </div>
  </div>
</div>