<div class="best-wr">
  
  <div class="fixed-map page-view-after-build">
     
      
      <!--Сюда карту-->
      
      <div class="for-position-map">
            <agm-map #gm [latitude]="lat" [longitude]="lng" style="height: 100%;" >
    
               
    
            </agm-map>
        </div>
      
      
      <div class="fixed-sights ">
          <div class="flex-sights">
              
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>1</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>2</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>3</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>4</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>5</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>6</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>7</span>Holywood</p>
              </div>
              <div class="one-sight">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>8</span>Holywood</p>
              </div>
          </div>
      </div>
      
      <div class="routs-count">
          <div class="picked-route" (click)="OpenRoute()">
              <div class="click">
                  <div class="one-route">
                      <span>1</span>
                      <p>611km - 12h 34min</p>
                  </div>
              </div>
          </div>
          <div class="outher">
              <div class="click">
                  <div class="one-route">
                      <span>1</span>
                      <p>611km - 12h 34min</p>
                  </div>
              </div>
              <div class="click">
                  <div class="one-route">
                      <span>2</span>
                      <p>611km - 12h 34min</p>
                  </div>
              </div>
              <div class="click">
                  <div class="one-route">
                      <span>3</span>
                      <p>611km - 12h 34min</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="save-route"></div>
      
  </div>
</div>