<div class="best-wr">  
  <div class="fixed-map page-view-after-build">  
      <div  class="for-position-map">
            <agm-map #gm [zoom]="6" [maxZoom]='8' [latitude]="lat?lat+0.5+InfoWindowHSize:0" [longitude]="lng?lng:0" style="height: 100%;" (mapClick)="mapClick()" [styles]="MapStyle">
                <agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[0]?StepsCoord[0].lat:''" [longitude]="StepsCoord[0]?StepsCoord[0].lng:''"></agm-marker>
                <agm-marker [iconUrl]="'../assets/img/marker-black.png'" *ngFor="let place of Places; let i = index" [latitude]="place?place.lat:0" [longitude]="place?place.lng:0" (markerClick)="markerClick(i)">
                    <agm-info-window [latitude]="StepsCoord[i].lat" [longitude]="StepsCoord[i].lng" [isOpen]="isInfoWinOpen[i]">
                            <div class="cart-sight-wrapp">
                                <div class="img" [ngStyle]="{'background-image':allRoutsImages[i]?'url(' + allRoutsImages[i] + ')':'url(../assets/img/no_img.jpg)'}"></div>
                                <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                                <p class="name-sight">{{place.name}}</p>
                            </div>
                    </agm-info-window>
                </agm-marker>

                <agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[StepsCoord.length-1].lat" [longitude]="StepsCoord[StepsCoord.length-1].lng"></agm-marker>

                <agm-polyline [strokeWeight]="5">
                        <ng-container>
                            <agm-polyline-point *ngFor="let coord of StepsCoord; let i = index" [latitude]="coord.lat?coord.lat:0" [longitude]="coord.lng?coord.lng:0"></agm-polyline-point>
                        </ng-container>
                </agm-polyline>
            </agm-map>
      </div>
      
      <div class="fixed-sights" [ngClass]="{'visible':isVisible}">
          <div class="flex-sights"> 
              <div *ngFor="let place of Places; let i = index" class="one-sight" (click)="OpenModalSights(i)">
                  <div class="for-before-wr">
                      <div class="img" [ngStyle]="{'background-image':allRoutsImages[i]?'url(' + allRoutsImages[i] + ')':'url(../assets/img/no_img.jpg)'}"></div>
                  </div>
                  <p><span>{{i+1}}</span>{{place.name}}</p>
              </div>    
          </div>
      </div>
      
      <!--<div class="save-route"></div>-->    
  </div>
</div>





<!--новая карточка-->
<div class="one-block avp">
    <div class="new-wrapp-for-shadow">
        <div class="for-before-wr">
            <div class="img" [ngStyle]="{'background-image':RouteImage?'url(' + RouteImage + ')':'url(../assets/img/no_img.jpg)'}"></div>
        </div>
        <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
        <div class="padd-descript">
            <p class="name">{{CurrentRoute.name}}</p>
            <div class="button-wr">
                <div class="one" (click)="LikeRoute(CurrentRoute.id)">
                    <div class="bg" [ngClass]="{'active':isILikeIt}">
                        <img src="../assets/img/like.png" class="img-responsive" alt="" >
                        <span>{{CurrentRoute.likes_count}}{{isILikeIt?'+':''}}</span>
                    </div>
                </div>
                <div class="one">
                    <div class="bg" (click)="RepostRoute(CurrentRoute.id)">
                        <img src="../assets/img/share.png" class="img-responsive" alt="">
                        <span>{{CurrentRoute.reposts_count}}</span>
                    </div>
                </div>
                <div class="one">
                    <div class="bg">
                        <img src="../assets/img/save.png" class="img-responsive" alt="">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/новая карточка-->






<div class="modal sights-slider" id="sights-slider">
            <div class="modal-dialog">
                <div class="modal-contant">
                    <div class="modal-body">
                        <div class="slider-init">
                            <div class="slide" *ngFor="let item of Places; let i = index">
                                <div class="after-slide">
                                    <div class="for-before-wr">
                                        <div class="img" [ngStyle]="{'background-image':allRoutsImages[i]?'url(' + allRoutsImages[i] + ')':'url(../assets/img/no_img.jpg)' }"></div>
                                    </div>
                                    <div class="content-sights">
                                        <p class="name">{{item.name}}</p>
                                        <p>{{item.address}}</p>
        
                                        
                                        <div class="for-flex-buttons">
                                            <div class="find-more">
                                                <p>Find more...</p>
                                            </div>
                                            <div class="one">
                                                <div class="bg">
                                                    <img src="../assets/img/like.png" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>