<app-preloader *ngIf="isLoading"></app-preloader>
<div class="best-wr">  
  <div class="fixed-map page-view-after-build">  
      <div  class="for-position-map">
        <agm-map #gm [mapDraggable]="true" [latitude]="lat" [longitude]="lng" [zoomControl]="true" [fitBounds]="zoomBounds" style="height: 100%;" (mapClick)="mapClick()" [styles]="mapStyle">   
            <!--<agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[0]?StepsCoord[0].lat:''" [longitude]="StepsCoord[0]?StepsCoord[0].lng:''"></agm-marker>-->
            <agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" *ngFor="let place of selectedRoute.places; let i = index" [latitude]="place?place.lat:0" [longitude]="place?place.lng:0" (markerClick)="markerClick(i)">
                <agm-info-window [isOpen]="placeWindows[i]">
                <div class="cart-sight-wrapp">
                    <div class="img" [ngStyle]="{'background-image':'url(' + place.image + ')'}"></div>
                    <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                    <p class="name-sight">{{place.name}}</p>
                </div>
                </agm-info-window>
            </agm-marker>
            
            <!--<agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[0]?StepsCoord[StepsCoord.length-1].lat:''" [longitude]="StepsCoord[0]?StepsCoord[StepsCoord.length-1].lng:''"></agm-marker>-->
            
            <agm-polyline [strokeColor]="'#FFC636'" [strokeOpacity]="'0.8'">
                <ng-container>
                    <agm-polyline-point *ngFor="let point of polyline; let i = index" [latitude]="point.lat?point.lat:0" [longitude]="point.lng?point.lng:0"></agm-polyline-point>
                </ng-container>
            </agm-polyline>
        </agm-map>
      </div>
      
      <div class="fixed-sights" [ngClass]="{'visible': 'true'}">
         <!-- <div class="flex-sights">
                <div *ngFor="let item of selectedRoute.places; let i = index" class="one-sight" (click)="onRoutePlace(i)">
                    <div class="for-before-wr">
                        <div class="img" [ngStyle]="{'background-image':'url(' + item.image + ')'}"></div>
                    </div>
                    <p><span>{{i + 1}}</span><strong>{{item.name}}</strong></p>
                </div>
          </div>-->
           <ngu-carousel
                [inputs]="carouselOne"
                class="pl-carousel">
                <ngu-item NguCarouselItem *ngFor="let item of selectedRoute.places; let i = index" (click)="onRoutePlace(i)"  >
                    <div class="car-item">
                        <div class="bannerStyle"  [ngStyle]="{'background-image':'url(' + item.image + ')'}">
                            <div style="height:100px;">
                            </div>                        
                        </div>
                        <p><span>{{i + 1}}</span><strong>{{item.name}}</strong></p>
                    </div>
                </ngu-item> 
                <button NguCarouselPrev class='left-arrow-car'>&lt;</button>
                <button NguCarouselNext class='right-arrow-car'>&gt;</button>
            </ngu-carousel>
      </div>
      <!--<div class="save-route"></div>-->    
  </div>
</div>

<!--новая карточка-->
<div class="one-block avp">
    <div class="new-wrapp-for-shadow">
        <div class="for-before-wr">
            <div class="img" [ngStyle]="{'background-image':'url(' + selectedRoute.image + ')'}"></div>
        </div>
        <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
        <div class="padd-descript">
            <p class="name">{{selectedRoute.name}}</p>
            <div class="button-wr">
                <div class="one" (click)="likeRoute(selectedRoute)">
                    <div class="bg" [ngClass]="{'active': selectedRoute.is_liked}">
                        <img src="../assets/img/like.png" class="img-responsive" alt="" >
                        <span>{{selectedRoute.likes_count}}{{isILikeIt?'+':''}}</span>
                    </div>
                </div>
                <div class="one">
                    <div class="bg">
                        <img src="../assets/img/share.png" class="img-responsive" alt="">
                        <span>{{selectedRoute.reposts_count}}</span>
                    </div>
                </div>
                <div class="one">
                    <div class="bg">
                        <img src="../assets/img/save.png" class="img-responsive" alt="">
                        <span>3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/новая карточка-->
<div class="modal sights-slider" id="sights-slider">
    <div class="modal-dialog">
        <div class="modal-contant">
            <div class="modal-body">
                <div class="slider-init">
                    <div class="slide" *ngFor="let item of selectedRoute.places; let i = index">
                        <div class="after-slide">
                            <div class="for-before-wr">
                                <div class="img" [ngStyle]="{'background-image':'url(' + item.image + ')' }"></div>
                            </div>
                            <div class="content-sights">
                                <p class="name">{{item.name}}</p>
                                <p>{{item.description}}</p>
                                <p>{{item.address}}</p>

                                <div class="for-flex-buttons">
                                    <div class="find-more">
                                        <p>Find more...</p>
                                    </div>
                                    <div class="one" (click)="onPlaceLike(item)">
                                        <div class="bg" [ngClass]="{'active': item.is_liked}">
                                            <img src="../assets/img/like.png" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>