<section class="content" [class.all-pages] = "!isBuildPage">
  <div class="head">
    <div class="container-fluid">
        <div class="row for-b">
            <div class="col-md-12">
                <div class="flex-nav-wr">
                    
                    <div class="for-center">
                        <img class="img-responsive width-logo" src="../assets/img/Logo_icon.png" alt="">
                         <div class="logo-title">
                            <p>BeTrip</p>
                        </div>
                    </div>
                   
                    <div class="right-side">
                        <ul>
                            <li>
                                <a routerLinkActive="active" routerLink="/build">build</a>
                            </li>
                            <li>
                                <a routerLinkActive="active" routerLink="/best">Best</a>
                            </li>
                            <li>
                                <a routerLinkActive="active" routerLink="/trips">trips</a>
                            </li>
                            <li class="for-drop-down-first-drop">
                                <a href="#">about</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a routerLink="/functionality" class="op-modal-sign-in">Functionality</a>
                                        <a routerLink="/download" class="op-modal-sign-up">Download</a>
                                        <a routerLink="/faq">Faq</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="for-drop-down">
                                <img src="../assets/img/man.svg" class="img-responsive" alt="">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a class="op-modal-sign-in" *ngIf="!isLogined" (click)="OpenModalSignIn()">Sign In</a>
                                        <a class="op-modal-sign-up" *ngIf="!isLogined" (click)="OpenModalSignUp()">Sign Up</a>
                                        <a *ngIf="isLogined" (click)="Logout()" >Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>


</section>

<div class="modal login-modal" id="login-modal">
  <div class="modal-dialog">
      <div class="modal-contant">
          <div class="modal-body">
              <form (ngSubmit)="Login()" class="sign">
                  <img src="../assets/img/Logo_icon.png" class="img-responsive" alt="">
                  <h2>Sign In</h2>
                  <p class="name-inp" >Email</p>
                  <input type="text" [(ngModel)]="LoginParams.email" name="email" (ngModelChange)="LoginParams.email = $event">
                  <p class="name-inp" >Password</p>
                  <input [(ngModel)]="LoginParams.password" name="loginPassword" (ngModelChange)="LoginParams.password = $event"type="password">
                  <button class="butt-orange" type="submit" type="submit">Login</button>
                  <p class="name-inp sign-up-with">Sign up with</p>
                  <div class="sign-up-w-wrapp">
                      <input type="image" src="../assets/img/fb.png" (click)="signIn('facebook')" class="img-responsive" alt="">
                      <input type="image" src="../assets/img/google.png" (click)="signIn('google')" class="img-responsive" alt="">
                      <img src="../assets/img/tw.png" (click)="signIn('twitter')" class="img-responsive" alt="">
                      
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div class="modal login-modal" id="regist-modal">
  <div class="modal-dialog">
      <div class="modal-contant">
          <div class="modal-body">
              <form (ngSubmit)="Registration()" class="sign">
                  <img src="../assets/img/Logo_icon.png" class="img-responsive" alt="">
                  <h2>Sign Up</h2>
                  <p class="name-inp" >Email</p>
                  <input [ngModel]="RegisterParams.email" name="registerEmail" type="text" (ngModelChange)="RegisterParams.email = $event">
                  <p class="name-inp" >Password</p>
                  <input type="password" [(ngModel)]="RegisterParams.password" name="registerPassword" (ngModelChange)="RegisterParams.password = $event">
                  <button class="butt-orange" type="submit">Register</button>
              </form>
          </div>
      </div>
  </div>
</div>