<div class="best-wr">
  <div class="left-side">
      <div class="all-best-blocks">
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name" (click)="OpenSliderCart()">Milan - Paris</p>
                      <p class="desc"><strong>Distance </strong>1345 km</p>
                      <p class="desc"><strong>Time </strong>13h 45min</p>
                      <div class="button-wr">
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/like.png" class="img-responsive" alt="">
                                  <span>11500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/save.png" class="img-responsive" alt="">
                                  <span>20</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
         <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name" (click)="OpenSliderCart()">Milan - Paris</p>
                      <p class="desc"><strong>Distance </strong>1345 km</p>
                      <p class="desc"><strong>Time </strong>13h 45min</p>
                      <div class="button-wr">
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/like.png" class="img-responsive" alt="">
                                  <span>11500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/save.png" class="img-responsive" alt="">
                                  <span>20</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name" (click)="OpenSliderCart()">Milan - Paris</p>
                      <p class="desc"><strong>Distance </strong>1345 km</p>
                      <p class="desc"><strong>Time </strong>13h 45min</p>
                      <div class="button-wr">
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/like.png" class="img-responsive" alt="">
                                  <span>11500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/save.png" class="img-responsive" alt="">
                                  <span>20</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
  <div class="fixed-map">
     
      
      <!--Сюда карту-->
      
    <div class="for-position-map">
        <agm-map #gm [latitude]="lat" [longitude]="lng" style="height: 100%;" (mapClick)="mapClick()" [styles]="MapStyle">

            <agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="markerClick(0)">
                <agm-info-window [isOpen]="isInfoWinOpen[0]">
                        <!-- тут диз карточки-->
                </agm-info-window>
            </agm-marker>
            
            <agm-marker [latitude]="lat" [longitude]="lng+1" (markerClick)="markerClick(1)">
                <agm-info-window [isOpen]="isInfoWinOpen[1]">     
                        <!-- тут диз карточки-->
                </agm-info-window>
            </agm-marker>

            <agm-polyline >
                <ng-container>
                    <agm-polyline-point [latitude]="lat" [longitude]="lng"></agm-polyline-point>
                    <agm-polyline-point [latitude]="lat+1" [longitude]="lng+1"></agm-polyline-point>
                    <agm-polyline-point [latitude]="lat" [longitude]="lng+1"></agm-polyline-point>
                </ng-container>
            </agm-polyline>

        </agm-map>
    </div>
      <div class="fixed-sights" [ngClass]="{ visible : !this.flagForOpenSlider }">
          <div class="flex-sights">
              
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>1</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>2</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>3</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>4</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>5</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>6</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>7</span>Holywood</p>
              </div>
              <div class="one-sight" (click)="OpenModalSights()">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                  </div>
                  <p><span>8</span>Holywood</p>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="modal sights-slider" id="sights-slider">
    <div class="modal-dialog">
        <div class="modal-contant">
            <div class="modal-body">
                <div class="slider-init">
                    <div class="slide">
                        <div class="after-slide">
                            <div class="for-before-wr">
                                <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                            </div>
                            <div class="content-sights">
                                <p class="name">Holywood</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>

                                <div class="for-flex-buttons">
                                    <div class="find-more">
                                        <p>Find more...</p>
                                    </div>
                                    <div class="one">
                                        <div class="bg">
                                            <img src="../assets/img/like.png" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="after-slide">
                            <div class="for-before-wr">
                                <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                            </div>
                            <div class="content-sights">
                                <p class="name">Holywood</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>

                                <div class="for-flex-buttons">
                                    <div class="find-more">
                                        <p>Find more...</p>
                                    </div>
                                    <div class="one">
                                        <div class="bg">
                                            <img src="../assets/img/like.png" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                            <div class="after-slide">
                                <div class="for-before-wr">
                                    <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                </div>
                                <div class="content-sights">
                                    <p class="name">Holywood</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
    
                                    <div class="for-flex-buttons">
                                        <div class="find-more">
                                            <p>Find more...</p>
                                        </div>
                                        <div class="one">
                                            <div class="bg">
                                                <img src="../assets/img/like.png" class="img-responsive" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="after-slide">
                                <div class="for-before-wr">
                                    <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                </div>
                                <div class="content-sights">
                                    <p class="name">Holywood</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
    
                                    <div class="for-flex-buttons">
                                        <div class="find-more">
                                            <p>Find more...</p>
                                        </div>
                                        <div class="one">
                                            <div class="bg">
                                                <img src="../assets/img/like.png" class="img-responsive" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                                <div class="after-slide">
                                    <div class="for-before-wr">
                                        <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                    </div>
                                    <div class="content-sights">
                                        <p class="name">Holywood</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        
                                        <div class="for-flex-buttons">
                                            <div class="find-more">
                                                <p>Find more...</p>
                                            </div>
                                            <div class="one">
                                                <div class="bg">
                                                    <img src="../assets/img/like.png" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="after-slide">
                                    <div class="for-before-wr">
                                        <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                    </div>
                                    <div class="content-sights">
                                        <p class="name">Holywood</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        
                                        <div class="for-flex-buttons">
                                            <div class="find-more">
                                                <p>Find more...</p>
                                            </div>
                                            <div class="one">
                                                <div class="bg">
                                                    <img src="../assets/img/like.png" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                    <div class="after-slide">
                                        <div class="for-before-wr">
                                            <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                        </div>
                                        <div class="content-sights">
                                            <p class="name">Holywood</p>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
            
                                            <div class="for-flex-buttons">
                                                <div class="find-more">
                                                    <p>Find more...</p>
                                                </div>
                                                <div class="one">
                                                    <div class="bg">
                                                        <img src="../assets/img/like.png" class="img-responsive" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="slide">
                                <div class="after-slide">
                                    <div class="for-before-wr">
                                        <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                                    </div>
                                    <div class="content-sights">
                                        <p class="name">Holywood</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
        
                                        <div class="for-flex-buttons">
                                            <div class="find-more">
                                                <p>Find more...</p>
                                            </div>
                                            <div class="one">
                                                <div class="bg">
                                                    <img src="../assets/img/like.png" class="img-responsive" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>