<app-preloader *ngIf="Load"></app-preloader>

<div class="best-wr">
  <div class="left-side">
      <div class="all-best-blocks">
          <ng-container *ngFor="let item of allBestRouts; let i = index">
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)" [ngStyle]="{'background-image':'url(' + allBestRoutsImages[i] + ')' }"></div>
                  </div>
                  <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name" (click)="OpenSliderCart(i)">{{item.name}}</p>
                      <p class="desc"><strong>Distance </strong>{{(item.distance - item.distance % 1000) / 1000}} km</p>
                      <p class="desc"><strong>Time </strong>{{(item.travel_time - (item.travel_time % 3600))/3600}}h {{ (item.travel_time - item.travel_time % 60)/60 - ((item.travel_time - (item.travel_time % 3600))/3600)*60 }}min</p>
                      <div class="button-wr">
                          <div class="one" (click)="LikeRoute(item.id)">
                              <div class="bg">
                                  <img src="../assets/img/like.png" class="img-responsive" alt="">
                                  <span>{{item.id + step}}</span>
                              </div>
                          </div>
                          <div class="one" (click)="RepostRoute(item.id)">
                              <div class="bg">
                                  <img src="../assets/img/share.png" class="img-responsive" alt="">
                                  <span>{{(item.id - 466) + step}}</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/save.png" class="img-responsive" alt="">
                                  <span>{{(item.id + step)-500}}</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </ng-container>
        
          
      </div>
  </div>
  <div class="fixed-map">
     
      
      <!--Сюда карту-->
      
    <div class="for-position-map">
        <agm-map #gm [mapDraggable]="false" [zoomControl]="false" [zoom]="6" [maxZoom]="6" [minZoom]="6" [latitude]="lat+2" [longitude]="lng" style="height: 100%;" (mapClick)="mapClick()" [styles]="MapStyle">
            <agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[0]?StepsCoord[0].lat:''" [longitude]="StepsCoord[0]?StepsCoord[0].lng:''"></agm-marker>
            <agm-marker [iconUrl]="'../assets/img/marker-black.png'" *ngFor="let place of allSightByRoute; let i = index" [latitude]="place?place.lat:0" [longitude]="place?place.lng:0" (markerClick)="markerClick(i)">
                <agm-info-window [isOpen]="isInfoWinOpen[i]">
                        <div class="cart-sight-wrapp">
                            <div class="img" [ngStyle]="{'background-image':'url(' + imagesSightsRoute[i] + ')'}"></div>
                            <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                            <p class="name-sight">{{place.name}}</p>
                        </div>
                </agm-info-window>
            </agm-marker>
            
            <agm-marker [iconUrl]="'../assets/img/marker-yellow2.png'" [latitude]="StepsCoord[0]?StepsCoord[StepsCoord.length-1].lat:''" [longitude]="StepsCoord[0]?StepsCoord[StepsCoord.length-1].lng:''"></agm-marker>
            

            <agm-polyline >
                <ng-container>
                    <agm-polyline-point *ngFor="let coord of StepsCoord; let i = index" [latitude]="coord.lat?coord.lat:0" [longitude]="coord.lng?coord.lng:0"></agm-polyline-point>
                </ng-container>
        </agm-polyline>

        </agm-map>
    </div>
      <div class="fixed-sights" [ngClass]="{'visible': !flagForOpenSlider && newFlagForVisible}">
          <div class="flex-sights">
                <div *ngFor="let item of allSightByRoute; let i = index" class="one-sight" (click)="OpenModalSights(i)">
                    <div class="for-before-wr">
                        <div class="img" [ngStyle]="{'background-image':'url(' + imagesSightsRoute[i] + ')'}"></div>
                    </div>
                    <p><span>{{i + 1}}</span><strong>{{item.name}}</strong></p>
                </div>
          </div>
      </div>
  </div>
</div>

<div class="modal sights-slider" id="sights-slider">
    <div class="modal-dialog">
        <div class="modal-contant">
            <div class="modal-body">
                <div class="slider-init">
                    <div class="slide" *ngFor="let item of allSightByRoute; let i = index">
                        <div class="after-slide">
                            <div class="for-before-wr">
                                <div class="img" [ngStyle]="{'background-image':'url(' + imagesSightsRoute[i] + ')' }"></div>
                            </div>
                            <div class="content-sights">
                                <p class="name">{{item.name}}</p>
                                <p>{{item.address}}</p>

                                <div class="for-flex-buttons">
                                    <div class="find-more">
                                        <p>Find more...</p>
                                    </div>
                                    <div class="one">
                                        <div class="bg">
                                            <img src="../assets/img/like.png" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>