<div class="best-wr">
  <div class="left-side">
      <div class="all-best-blocks">
          <ng-container *ngFor="let item of allBestRouts; let i = index">
          <div class="one-block">
              <div class="new-wrapp-for-shadow">
                  <div class="for-before-wr">
                      <div class="img" style="background-image: url(../assets/img/post_326.jpg)" [ngStyle]="{'background-image':'url(' + allBestRoutsImages[i] + ')' }"></div>
                  </div>
                  <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                  <div class="padd-descript">
                      <p class="name" (click)="OpenSliderCart(i)">{{item.name}}</p>
                      <p class="desc"><strong>Distance </strong>{{(item.distance - item.distance % 1000) / 1000}} km</p>
                      <p class="desc"><strong>Time </strong>{{(item.travel_time - (item.travel_time % 3600))/3600}}h {{ (item.travel_time - item.travel_time % 60)/60 - ((item.travel_time - (item.travel_time % 3600))/3600)*60 }}min</p>
                      <div class="button-wr">
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/like.png" class="img-responsive" alt="">
                                  <span>11500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/share.png" class="img-responsive" alt="">
                                  <span>500</span>
                              </div>
                          </div>
                          <div class="one">
                              <div class="bg">
                                  <img src="../assets/img/save.png" class="img-responsive" alt="">
                                  <span>20</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </ng-container>
        
          
      </div>
  </div>
  <div class="fixed-map">
     
      
      <!--Сюда карту-->
      
    <div class="for-position-map">
        <agm-map #gm [latitude]="lat" [longitude]="lng" style="height: 100%;" (mapClick)="mapClick()" [styles]="MapStyle">

            <agm-marker [iconUrl]="'../assets/img/marker3.png'" [latitude]="lat" [longitude]="lng" (markerClick)="markerClick(0)">
                <agm-info-window [isOpen]="isInfoWinOpen[0]">
                        <!-- тут диз карточки-->
                        <div class="cart-sight-wrapp">
                            <div class="img" style="background-image: url(../assets/img/post_326.jpg)"></div>
                            <div class="ava" style="background-image: url(../assets/img/ava.jpg)"></div>
                            <p class="name-sight">Holywood</p>
                        </div>
                </agm-info-window>
            </agm-marker>
            
            <agm-marker [latitude]="lat" [longitude]="lng+1" (markerClick)="markerClick(1)">
                <agm-info-window [isOpen]="isInfoWinOpen[1]">     
                        <!-- тут диз карточки-->
                </agm-info-window>
            </agm-marker>

            <agm-polyline >
                <ng-container>
                    <agm-polyline-point [latitude]="lat" [longitude]="lng"></agm-polyline-point>
                    <agm-polyline-point [latitude]="lat+1" [longitude]="lng+1"></agm-polyline-point>
                    <agm-polyline-point [latitude]="lat" [longitude]="lng+1"></agm-polyline-point>
                </ng-container>
            </agm-polyline>

        </agm-map>
    </div>
      <div class="fixed-sights" [ngClass]="{'visible':!flagForOpenSlider}">
          <div class="flex-sights">
                <div *ngFor="let item of allSightByRoute; let i = index" class="one-sight" (click)="OpenModalSights()">
                    <div class="for-before-wr">
                        <div class="img" [ngStyle]="{'background-image':'url(' + imagesSightsRoute[i] + ')'}"></div>
                    </div>
                    <p><span>{{i + 1}}</span>{{item.name}}</p>
                </div>
          </div>
      </div>
  </div>
</div>




<div class="modal sights-slider" id="sights-slider">
    <div class="modal-dialog">
        <div class="modal-contant">
            <div class="modal-body">
                <div class="slider-init">
                    <div class="slide" *ngFor="let item of allSightByRoute; let i = index">
                        <div class="after-slide">
                            <div class="for-before-wr">
                                <div class="img" [ngStyle]="{'background-image':'url(' + imagesSightsRoute[i] + ')' }"></div>
                            </div>
                            <div class="content-sights">
                                <p class="name">{{item.name}}</p>
                                <p>{{item.address}}</p>

                                <div class="for-flex-buttons">
                                    <div class="find-more">
                                        <p>Find more...</p>
                                    </div>
                                    <div class="one">
                                        <div class="bg">
                                            <img src="../assets/img/like.png" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>